.tb-left {
    width: 400px;
}

.tb-center {
    width: inherit;
}

.tb-right {
    width: 400px;
}

/* Panel one */
.style-panel-user-edit {
    width: 600px;
    height: 265px;
    background-color: #B6E0CC;
}

.style-txt-name {
    width: 570px;
    margin-left: 10px;
    margin-right: 8px;
}

.style-txt-cpf {
    width: 108px;
    margin-left: 8px;
    margin-right: 8px;
}

.style-txt-ddd {
    width: 30px;
    margin-left: 8px;
}

.style-txt-phone {
    margin-left: 8px;
    margin-right: 8px;
}

.style-phone-type {
    margin-left: 8px;
}

.style-txt-zip {
    width: 108px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.style-bt-zip {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5bbe5d; 
    color: white;
    padding: 2px 1px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-zip-off {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #C8E5FE;
    color: white;
    padding: 2px 1px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-txt-address {
    width: 481px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.style-txt-address-number {
    width: 63px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.style-txt-neighborhood {
    width: 237px;
    margin-left: 8px;
}

.style-txt-city {
    width: 210px;
    margin-left: 23px;
    margin-right: 8px;
}

.style-txt-state {
    width: 63px;
    margin-left: 10px;
    margin-right: 8px;
}

.style-bt-search {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5bbe5d;
    color: white;
    padding: 2px 1px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-txt-email,
.style-txt-password {
    width: 200px;
    margin-bottom: 8px;
    margin-left: 8px;
}

/* button edit save delete cancel*/
.style-bt-user {
    height: 40px;
    background-color: #B6E0CC;
}

.style-bt-save {
    background-color: #5bbe5d; 
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-save-off {
    background-color: #C8E5FE;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-edit {
    background-color: #5bbe5d;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-edit-off {
    background-color: #C8E5FE;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-delete {
    background-color: #5bbe5d; 
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-delete-off {
    background-color: #C8E5FE;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-cancel {
    background-color: #5bbe5d;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.style-bt-cancel-off {
    background-color: #C8E5FE;
    margin-left: 8px;
    margin-bottom: 1px;
    color: white;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    width: 80px;
}

/* Panel two */
.style-panel-search {
    width: 600px;
    height: 60px;
    margin-top: 8px;
    background-color: #C8E5FE;
}

.style-txt-search {
    width: 481px;
    margin-left: 8px;
}

/* panel three */
.style-panel-tab {
    width: 600px;
    margin-top: 8px;
    background-color: #B6E0CC;
}

/* panel three */
.style-panel-bt {
    background-color: #B6E0CC; 
}

/* panel four */
.style-bt-exit {
    background-color: #FF4F4F; 
    margin-left: 8px;}