body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Update font stack */
    background-color: #f8f8f8; 
    height: 782px;
}

.td-left {
    width: 350px;
}

.td-center {
    width: auto;
}

.td-right {
    width: 200px;
}

.style-txt-email {
    width: 400px;
    padding: 5px 6px;
    margin-left: 20px;
}

.style-bt-send {
    background-color: #007BFF;
    color: white;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70px;
}
