.td-left {
    width: 400px;
}

.td-center {
    width: inherit;
}

.td-right {
    width: 400px;
}

/* panel one */
.style-panel-one {
    width: 600px;
    height: 100px;
    background-color: #B6E0CC; /* Mint Green */
}

.style-txt-name {
    width: 570px;
    margin-left: 10px;
    margin-right: 8px;
}

.style-txt-cpf {
    width: 108px;
    margin-left: 8px;
    margin-right: 8px;
}

.style-txt-ddd {
    width: 30px;
    margin-left: 8px;
}

.style-txt-phone {
    margin-left: 8px;
    margin-right: 8px;
}

.style-phone-type {
    margin-left: 8px;
}

/* panel two */
.style-panel-two {
    width: 600px;
    height: 130px;
    margin-top: 4px;
    background-color: #C8E5FE; /* Light Blue */    
}

.style-txt-zip {
    width: 108px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.style-txt-address {
    width: 481px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.style-txt-address-number {
    width: 63px;
    margin-bottom: 8px;
    margin-left: 10px;
}

.style-txt-neighborhood {
    width: 237px;
    margin-left: 8px;
}

.style-txt-city {
    width: 210px;
    margin-left: 23px;
    margin-right: 8px;
}

.style-txt-state {
    width: 63px;
    margin-left: 10px;
    margin-right: 8px;
}

.style-link-search {
    margin-left: 8px;
    font-size: 12px;
    margin-bottom: 8px;
}

.style-bt-search {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5bbe5d; /* Emerald Green */
    color: white;
    padding: 2px 1px;
    border: none;
    cursor: pointer;
    width: 70px;
}

/* panel three */
.style-panel-three {
    width: 600px;
    height: 145px;
    margin-top: 4px;
    background-color: #B6E0CC; /* Mint Green */
}

.style-txt-email, .style-txt-password {
    width: 200px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.style-bt-cancel {
    background-color: #FF4F4F; /* Salmon Red */
    color: white;
    padding: 4px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-left: 380px;
    margin-top: 22px;
}

.style-bt-save {
    background-color: #5bbe5d; /* Emerald Green */
    color: white;
    padding: 4px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-left: 8px;
}

/* panel four */
.style-panel-four {
    background-color: #F1F1F1; /* Light Gray */
}

.style-error {
    background-color: white;
    margin-left: 8px;
}
